{% extends 'base.html' %}
{% load static %}

{% block title %}All Pets -{% endblock title %}


{% block content %}
  <section class="container py-2">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Help me in adding pet breeds you migth know, I barely know a few<a href="{% url 'pets:welcome' %}" class="ms-3 alert-link">add breed</a>.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- nav tabs -->
        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link text-success opacity-75 fs-6 fw-bold active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All Pets</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-success opacity-75 fs-6 fw-bold" id="sale-tab" data-bs-toggle="tab" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false">For Sale</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-success opacity-75 fs-6 fw-bold" id="adoption-tab" data-bs-toggle="tab" data-bs-target="#adoption" type="button" role="tab" aria-controls="adoption" aria-selected="false">For Adoption</button>
            </li>
        </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 my-2" id="all-pets"></div>
            </div>
            <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab">
              <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 my-2" id="sale-pets"></div>

            </div>
            <div class="tab-pane fade" id="adoption" role="tabpanel" aria-labelledby="adoption-tab">
              <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 my-2" id="adoption-pets"></div>
            </div>
          </div>
          
  <section>
{% endblock content %}

{% block javascript %}
<script type='text/javascript' src="{% static 'scripts/pet/all_pets.js' %}"> </script>
{% endblock javascript %}