{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Edit pet -
{% endblock title %}

{% block content %}
<section class='container'>
    <div class='row my-5'>
        <!-- edit form-->
        <div class='col-md-8'>
            <form class='row g-3' id = "form">
                <div class="col-md-4">
                    <label class="form-label">Breed</label>
                    {{form.breed|add_class:"form-control form-select"}}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Age</label>
                    {{form.age|add_class:"form-control"}}
                </div>
                <div class="col-md-4">
                    <label class="form-label">How many in total</label>
                    {{form.total|add_class:"form-control"}}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Gender</label>
                    {{form.gender|add_class:"form-control form-select"}}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Sale/Adoption</label>
                    {{form.sale_adoption|add_class:"form-control form-select"}}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Price</label>
                    {{form.price|add_class:"form-control"}}
                </div>
                <div class="col-md-12">
                    <label class="form-label">Description</label>
                    {{form.description|add_class:"form-control"}}
                </div>
                <button type='submit' id="edit-button" class='btn btn-sm btn-primary'><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><span >Save</span></button>
            </form>
        </div>
        <!-- edit images-->
        <div class='col-md-4'>
            <div class='row' id='imgs-container'></div>
            <form enctype='multipart/form-data' id='imgForm'>
                <div class='input-group'>
                    <label class="input-group-text">Pick image(s)</label>
                    {{imgForm.pet_image|add_class:"form-control"}}
                </div>                
                <button type='submit' id="add-image" class='btn btn-sm btn-primary my-2 opacity-50'><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><span >Add</span></button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
<script type='text/javascript' src="{% static 'scripts/pet/edit_pet.js' %}"> </script>
{% endblock javascript %}
