{% extends 'base.html' %}
{% load static %}

{% block title %}Pet details -{% endblock title %}


{% block content %}
<section class='container my-5'>
    <div class='row justify-content-center'>
        <div class="card mb-3 p-4 col-sm-10 col-md-10 col-lg-9">
            <div class="row g-0 align-items-center">
                <div class="col-md-4"><div id="pet-images-carousel"  class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner"></div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#pet-images-carousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#pet-images-carousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body mx-1 px-5">                            
                        <h5 class="card-title">
                            <span class='fw-normal fs-4' id="sale-adoption"></span>
                            <small class="text-muted mx-3" id='price'></small>
                        </h5>
                        <p class="card-text fs-4">Breed <span class='fw-normal fs-5 text-muted mx-3' id="breed" ></span></p>
                        <p class="card-text fs-4">Gender<span class='fw-normal fs-5 text-muted mx-3' id="gender" ></span></p>
                        <p class="card-text fs-4">In total<span class='fw-normal fs-5 text-muted mx-3' id="total" ></span></p>
                        <p class="card-text fs-4">Age<span class='fw-normal fs-5 text-muted mx-3' id="age" ></span></p>
                        <div class="card-text fs-4 mb-3">
                            <p class='my-0'>Description</p>
                            <article class='fw-normal fs-5 text-muted mx-3 border-start border-warning border-3 rounded-start ps-2' id="description" ></article>
                        </div>
                        
                        <div class='d-grid gap-2 d-md-block'>
                            <button type='button' id="bookmark" class='btn btn-sm btn-success'>
                                <div  class="d-flex flex-row justify-content-center">
                                    <span class="material-icons">bookmark_add</span>
                                    <span>Add to bookmark</span>
                                </div>
                            </button>
                            <button id="contact" type='button' class='btn btn-sm btn-secondary'
                                data-bs-toggle="popover" title="Pet owner number">
                                <div class="d-flex flex-row justify-content-center">
                                    <span class="material-icons">phone</span>
                                    <span>Contact</span>
                                </div>
                            </button>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock content %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'scripts/pet/view_pet.js' %}"></script>
{% endblock javascript %}
