#page-container {
	position: relative;
	min-height: 100vh;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}


/* form size */
.form-content {
    width: 300px;
    margin: 0 auto;
}

/* pets alignment */
#pets {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}