{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Welcome -{% endblock title %}


{% block content %}
    <section class="container">
        <form action="" id='form' class='my-5'>
            <div class='row g-2 justify-content-center align-items-end'>
                <div class="col-md-3">
                    <label class="form-label">Breed</label>
                    {{form.breed_name|add_class:"form-control"}}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Cat/Dog</label>
                    {{form.cat_dog|add_class:"form-control form-select"}}
                </div>
                    
                <div class="col-md-2 align-bottom">
                    <button type='submit' id="submit" class='btn px-3 btn-secondary'><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><span >Add</span></button>
                </div>
            </div>
        <form>

    <section>
{% endblock content %}

{% block javascript %}
<script src="{% static 'scripts/welcome.js' %}" type='text/javascript'></script>
{% endblock javascript %}