{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class='container'>
    <p class="text-center mt-5 pt-5">Your account was closed successfully, your data won't be available in our database anymore.</p>
    <p class="text-center">Go back to viewing pets <a href="{% url 'pets:all_pets' %}">view</a></p>

</section>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'scripts/utils.js' %}"></script>
{% endblock javascript %}