{% extends "base.html" %}
{% load i18n static %}
{% load widget_tweaks %}

{% block content %}
<section class='container'>
    <h3 class='text-center mt-3'>Change Password</h3>
    <div id="content-main" class='mt-5'>

        <form method="post" class='w-75'>
            {% csrf_token %}
        <div>
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}


        <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

        <fieldset class="module aligned wide">

        <div class="row mb-3">
            {{ form.old_password.errors }}
            <label class="col-sm-2 fs-6 fw-bold col-form-label col-form-label-sm">Old password</label> 
            <div class="col-sm-10">
                {{ form.old_password|add_class:"form-control rounded-0" }}
            </div>
        </div>

        <div class="row mb-3">
            {{ form.new_password1.errors }}
            <label class="col-sm-2 fs-6 fw-bold col-form-label col-form-label-sm">New password</label> 
            <div class="col-sm-10">
                {{ form.new_password1|add_class:"form-control rounded-0" }}
            </div>
            {% if form.new_password1.help_text %}
            <div class="help">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
        </div>

        <div class="row mb-3">
        {{ form.new_password2.errors }}
        <label class="col-sm-2 fs-6 fw-bold col-form-label col-form-label-sm">New password confirmation</label> 
        <div class="col-sm-10">
            {{ form.new_password2|add_class:"form-control rounded-0" }}
        </div>
            {% if form.new_password2.help_text %}
            <div class="help">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
        </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" class='btn btn-sm btn-secondary px-3 fs-6 fw-bold rounded-0' value="{% translate 'Change my password' %}" class="default">
        </div>

        </div>
        </form>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        $("body").addClass("review")

    });
</script>
{% endblock javascript %}