{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<section class='container mt-4'>

    {% if validlink %}
     
    <h5 class='text-center'>Password reset confirmation</h5>
    <p class='text-center'>Please enter your new password twice so we can verify you typed it in correctly.</p>


    <form method="post" class="form-content">
        {% csrf_token %}
        <fieldset class="module aligned">
            <!--<input class="hidden form-control" disabled readonly autocomplete="username" value="{{ form.user.get_username }}">-->
            <div class="form-row mb-3 field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="form-row mb-3 field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2|add_class:"form-control" }}
            </div>
            <div class='d-grid gap-2'>
                <button type="submit" class="btn-main py-1 px-3">Change my password</button>
            </div>
        </fieldset>
    </form>
        
    {% else %}
    
    <p class='text-center'>The password reset link was invalid, possibly because it has already been used.  
        Please request a new password reset.</p>
    
    {% endif %}
</section>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        $("body").addClass("review")
    });
    $(".form-content").submit(function(e){
        $(".main-btn").text("Changing")
    })
</script>
{% endblock javascript %}