{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Profile -
{% endblock title %}


{% block content %}
<section class="container py-5">      
    <div class='row justify-content-center'>
        <div class='col-sm-12 col-md-10'>
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link text-success fs-6 fw-bold active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link text-success fs-6 fw-bold" id="add-pet-tab" data-bs-toggle="tab" data-bs-target="#add-pet" type="button" role="tab" aria-controls="add-pet" aria-selected="false">Add Pet</button>
                </li>
            </ul>
            <div class="tab-content">
                <!-- profile data-->
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card my-4">
                        <div class="card-body">
                        <h5 class="card-title text-center fs-3 mb-3">Profile</h5>
                        <p class="card-text text-muted fw-bold fs-4">Email :- <span class='fw-normal fs-5' id="email" ></span></p>
                        <p class="card-text text-muted fw-bold fs-4">Username:- <span class='fw-normal fs-5' id="username" ></span></p>
                        <p class="card-text text-muted fw-bold fs-4">Age:- <span class='fw-normal fs-5' id="age" ></span></p>
                        <p class="card-text text-muted fw-bold fs-4">Gender:- <span class='fw-normal fs-5' id="gender" ></span></p>
                        <p class="card-text text-muted fw-bold fs-4">Phone:- <span class='fw-normal fs-5' id="contact" ></span></p>


                        <button class="btn btn-sm btn-link mb-3" data-bs-toggle="collapse" data-bs-target="#updateProfile" aria-expanded="false" aria-controls="updateProfile">
                            Update profile
                        </button>

                            <div class="collapse" id="updateProfile">
                                <div class="card card-body">
                                    <form id="profile_form" >
                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                            {{form.email|add_class:"form-control"}}                                
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Username</label>
                                            <div class="col-sm-10">
                                            {{form.username|add_class:"form-control"}}
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Age</label>
                                            <div class="col-sm-10">
                                                {{form.age|add_class:'form-control'}}                                  
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Gender</label>
                                            <div class="col-sm-10">
                                                {{form.gender|add_class:"form-control form-select"}}
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Phone</label>
                                            <div class="col-sm-10">
                                                {{form.contact|add_class:"form-control"}}
                                            </div>
                                        </div>
                                        <button type="submit" id='update' class="btn rounded-0 btn-primary py-1 px-3 mt-3"><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><span >Save</span></button>   
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <!--add pet-->
                <div class="tab-pane fade" id="add-pet" role="tabpanel" aria-labelledby="add-pet-tab">
                    <div class="my-4 row justify-content-center">
                        <form action="" id='pet_form' enctype="multipart/form-data" class='col-md-10'>
                            {% csrf_token %}
                            <div class='row'>
                                <div class="input-group mb-3 col-md-12">
                                    <label class="input-group-text">Upload pet image(s)</label>
                                    {{img_form.pet_image|add_class:"form-control"}}
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label">Breed</label>
                                    {{pet_form.breed|add_class:"form-control form-select"}}
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label">Age</label>
                                    {{pet_form.age|add_class:"form-control"}}
                                </div>
                                
                                <div class="mb-3 col-md-4">
                                    <label class="form-label">Gender</label>
                                    {{pet_form.gender|add_class:"form-control form-select"}}
                                </div>
                                
                                <div class="mb-3 col-md-4">
                                    <label class="form-label">Sale/Adoption</label>
                                    {{pet_form.sale_adoption|add_class:"form-control form-select"}}
                                </div>

                                <div class="mb-3 col-md-4">
                                    <label class="form-label">Price</label>
                                    {{pet_form.price|add_class:"form-control"}}
                                </div>   
                                <div class="col-md-4">
                                    <label class="form-label">How many in total</label>
                                    {{pet_form.total|add_class:"form-control"}}
                                </div> 

                                <div class="mb-3 col-md-12">
                                    <label class="form-label">Description</label>
                                    {{pet_form.description|add_class:"form-control"}}
                                </div>          
                            </div>

                            <button type='submit' id="add" class='btn px-3 btn-secondary btn-sm'><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><span >Add</span></button>
                        <form>
                    </div>

                </div>
            </div>

            <!-- change password and delete account-->
            <div class='card mt-5 p-3'>
                <div class='my-2'>
                    <h6>Change password</h6>
                    <p>Update your from simple to complex to see how good you're in rememdering it.</p>
                    <a class='btn btn-sm btn-secondary' href="{% url 'user:password_change' %}">Change</a>
                </div>
                
                <div class='my-2'>
                    <h6>Account deletion</h6>
                    <p>Deleting means all your data will be lost.</p>
                    <button id="close" class='btn btn-sm btn-danger' type="button"><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><span >Delete</span></button>
                </div>

            </div> 

            <!-- nav menu-->
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link text-success fs-6 fw-bold active" id="your-pets-tab" data-bs-toggle="tab" data-bs-target="#your-pets" type="button" role="tab" aria-controls="your-pets" aria-selected="true">Your Pets</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link text-success fs-6 fw-bold" id="bookmark-tab" data-bs-toggle="tab" data-bs-target="#bookmark" type="button" role="tab" aria-controls="bookmark" aria-selected="false">Bookmarks</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="your-pets" role="tabpanel" aria-labelledby="your-pets-tab">
                    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-4 my-2" id="yours"></div>
                </div>
                <div class="tab-pane fade" id="bookmark" role="tabpanel" aria-labelledby="bookmark-tab">
                    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-4 my-2" id="bookmarks"></div>
                </div>
            </div> 
        </div>
    </div>      
</section>
{%  endblock content %}

{%  block javascript %}
    <script type='text/javascript' src="{% static 'scripts/users/profile.js' %}"></script>
{%  endblock javascript %}