{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class='container'>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">      
          <!-- Then put toasts within -->
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body"></div>
              <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        </div>
    </div>

    <div class='row justify-content-md-center'>
        <form action="" class="col-xs-12 col-sm-10 col-md-6 col-lg-4" id="form">
            {% csrf_token %}
            <p class="text-center m-0 py-2 fs-4 fw-bold mb-2">Welcome Back</p>
            <div>
                <label for="email">Email</label>
                <input class="form-control form-control-sm rounded-0" type="email" name="email" placeholder="Email address">
            </div>
            
            <div>
                <label for="password">Password</label>
                <input class="form-control form-control-sm rounded-0" type="password" name="password" placeholder='password'>
            </div>

            <div class='d-grid gap-2 mt-2'>
                <button type="submit" id='submit' class="btn btn-sm btn-secondary rounded-0">Sign In</button>
            </div>
        </form>
    </div>
    <p class="text-center mt-3">Forgot password ? <a href="{% url 'user:password_reset' %}">reset password</a></p>
    <p class="text-center mt-3">New here ? <a href="{% url 'user:registration' %}">register</a></p>

</section>
{% endblock content %}

{% block javascript %}
<script type="module" src="{% static 'scripts/users/signin.js' %}">
</script>
{% endblock javascript %}